[Unit]
Description=A script to update the dns ip when required
After=network.target
[Service]
User=A unprivallged user
Group=a group
WorkingDirectory=path to folder
Environment="PATH=/usr/bin/"
ExecStart=path to folder/Update.py --ddns
[Install]
WantedBy=multi-user.target
