[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
nose2 = "*"
mypy = "*"

[packages]
requests = "*"
pyyaml = "*"
sockets = "*"
flit = "*"
rich = "*"
argparse = "*"
appdirs = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
